/* Custom color theme properties */
:root {
	--f7-theme-color: #008eff;
	--f7-theme-color-rgb: 0, 142, 255;
	--f7-theme-color-shade: #0077d6;
	--f7-theme-color-tint: #29a0ff;
}

/* Your app custom styles here */